**/build
**/.gradle
.idea
*.iml
**/msvc/Debug*
**/msvc/Release*
**/msvc/Tests
**/msvc/Test Fixes
**/msvc/*.sdf
**/msvc/*.opensdf
**/msvc/*.user
**/msvc/*.suo
**/msvc/ipch

rehlds/version/appversion.h
rehlds/msvc/PublishPath*.txt
rehlds/_rehldsTestImg
rehlds/_dev
publish
