**/build
**/.gradle
.idea
*.iml
*.bat
*.log
*.lnk
**/msvc/Debug*
**/msvc/Release*
**/msvc/Tests
**/msvc/Test Fixes
**/msvc/*.sdf
**/msvc/*.opensdf
**/msvc/*.user
**/msvc/*.suo
**/msvc/*.db
**/msvc/*.opendb
**/msvc/*.txt
**/msvc/*.amplxeproj
**/msvc/.vs
**/msvc/ipch

rehlds/version/appversion.h
rehlds/_rehldsTestImg
rehlds/_dev
publish
